body
{
	background-color: grey;
	font-family: "Courier New", Monospace, serif;
}

h1
{
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: white; 
}

a:link
{
	color: white;
}

a:visited
{
	color: white;
}


a:hover
{
	color: red;
}

a:active
{
	color: white;
}

#aliphoto
{
	width: 200px;
	height: 300px;
	padding-left: 20px;
	float: left;
}

#navigation
{
	background-color: black;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: right;
}

#maincontent
{
	background-color: white;
	height: 300px;
	overflow: scroll;
	padding-left: 20px;
}