body
{
	background-color: grey;
	font-family: "Courier New", Monospace, serif;
}

h1
{
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: white; 
}

h3
{
	text-decoration: underline;
}

p
{
	font-size: 14px;
}

ul
{
	font-size: 14px;
}

a:link
{
	color: white;
	text-decoration: none;
}

a:visited
{
	color: white;
	text-decoration: none;
}


a:hover
{
	color: red;
	text-decoration: underline;
}

a:active
{
	color: white;
	text-decoration: none;
}

.strong
{
	font-weight: bold;
}

.date_location
{
	font-style: italic;
	color: grey;
}

#aliphoto
{
	width: 200px;
	height: 450px;
	padding-left: 20px;
	float: left;
}

#navigation
{
	background-color: black;
	font-size: 15px;
	color: white;
	overflow: auto;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: right;
}

#maincontent
{
	background-color: white;
	height: 450px;
	overflow: scroll;
	padding-left: 20px;
	padding-right: 20px;
}