body
{
	background-color: grey;
	font-family: "Courier New", Monospace, serif;
}

h1
{
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;
	color: white; 
}

h3
{
	text-decoration: underline;
}

a:link
{
	color: white;
	text-decoration: none;
}

.strong
{
	font-weight: bold;
}

.date_location
{
	font-style: italic;
	color: grey;
}

#aliphoto
{
	width: 100%;
	text-align: center;
}

#navigation
{
	background-color: black;
	color: white;
	overflow: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	position: bottom;
}

#maincontent
{
	background-color: white;
	height: 450px;
	overflow: auto;
	padding-left: 20px;
	padding-right: 20px;
	position: bottom;
}